@charset "ISO-8859-1";

body {
    color: #333;
    text-align: center;
    margin: 20px;
    font-family: Arial, sans-serif;
    background-color: #F0F8FF;
    margin: 0;
    padding: 0;
}

h2 {
    color: #007bff;
}

p {
    margin: 10px 0;
}
