<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
    <link rel="stylesheet" href="/css/astroResponse.css">
</head>
<body>
<h2>ఇచ్చిన వివరాలకు ప్రతిస్పందన</h2>
<p>పూర్తి పేరు : <span th:text="${name}"></span></p>
<p>పుట్టిన తేదీ : <span th:text="${dob}"></span></p>
<p>మాసం : <span th:text="${month}"></span></p>
<p>వారం : <span th:text="${weekDay}"></span></p>
<p>రాశి : <span th:text="${raashi}"></span></p>
<p>నక్షత్రం : <span th:text="${nakshatra}"></span></p>
<p>పాదం : <span th:text="${paadam}"></span></p>
</body>
</html>
